<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superbowl Quarterbacks</title>
</head>
<body>
    <div>
        <p><%= tom %></p>
        <p><%= patrick %></p>
    </div>
</body>
</html>